[Unit]
Description=Google Hangouts Robot
After=network-online.target

[Service]
ExecStart=/usr/local/bin/python3 /home/hangoutsbot/hangoutsbot/hangupsbot/hangupsbot.py
Restart=on-failure
User=hangoutsbot
Group=hangoutsbot

[Install]
WantedBy=multi-user.target
