[Unit]
Description=IITC screen capture
After=network-online.target

[Service]
WorkingDirectory=/home/hangoutsbot/hangoutsbot/hangupsbot/plugins/iitc
ExecStart=/home/hangoutsbot/hangoutsbot/hangupsbot/plugins/iitc/iitcbot
User=hangoutsbot
Group=hangoutsbot
Restart=on-failure

[Install]
WantedBy=multi-user.target
